  <link href="css/main.css" rel="stylesheet">

  <header class="site-header">

    <div class="wrapper">

      <!--<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
        <a class="dashboard_link" href="/dashboard"> dashboard </a> -->

        <nav class="site-nav">

          <div class="row">

            <div>
              <a  class="page-link col-md-6" href="#"> settings </a>

            </div>
            <div><a  class="page-link col-md-6" href="#"> Notifications </a></div>
          </div>
          

        </nav>

      </div>

    </header>
